.container {
    display: flex;
    border: 1px solid black
    background-color: lightcoral



}


/* origamid.com/projetos;flexbox-guia-completo/ */
/* incompleto continuar com o material da aula */